{#
/**
 * @file shopify_product_variant.html.twig
 * Default theme implementation to present Shopify product variant data.
 *
 * This template is used when viewing Shopify product variant pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_shopify_product_variant()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('shopify_product_variant') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
